/* your styles go here */
h1,h2,h3,h4,h5,h6,th
{
    font-family: 'Lato', sans-serif;
}
li,p,td
{
    font-family: 'Merriweather', serif;
}
.sidebar-menu li a{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}
.sidebar-menu li.active a {
    font-weight: normal;
}
.credit{
    font-family: 'Lato', sans-serif;
}
#sidebar
{
    padding-left: 40px;
}
h1, .h1 {
    font-size: 40px;
}
.box-masonry .box-masonry-text p {
    color: #333;
    font-size: 16px;
}
.content-column-content p, .content-column-content li{
    color: #333;
}
.content-column-content {
    padding-bottom: 70px;
    padding-top: 20px;
}
.box-masonry h4 {
    font-size: 23px;
    line-height: 1.5;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
}
.sidebar-heading {
    font-size: 30px;
    text-transform: none;
    letter-spacing: 0;
}
.sidebar-heading a {
    color: #b0b0b0;
}
.sidebar-heading a:hover {
    color: #b0b0b0;
    border-bottom: none;
}
.box-masonry-text h4
{
    margin-top: 10px;
    margin-bottom: -10px;
}
.masonry-item
{
    padding-left: 10px;
    padding-right: 10px;
}
.content-column {
    padding-top: 40px;
    padding-right: 40px;
}
p.social a {
    margin: 0 5px 5px 0 ;
}
.sidebar-menu {
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 30px;
}
.timestamp {
    margin: -20px 0 24px;
}
.box-masonry .timestamp {
    margin: -20px 0 10px;
}
ul, pre {
    margin: 0 0 24px;
}